//
   Created by mario on 5/11/2016.
doctype html
html
    head
        title= "ISR Tax Calculator"
        link(rel='stylesheet', href='/Materialize/dist/css/materialize.min.css')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    body
        .section
            .row
                .col.s12.center-align
                    h3 Roster
                .col.s12.center-align
                    h4 Employee #{employee.name+" "+employee.lastName+" "+employee.secondLastName}
                .col.s6.left
                    p RFC
                .col.s6.left
                    p #{employee.RFC}
                .col.s6.left
                    p SSN
                .col.s6.left
                    p #{employee.socialSecurityNumber}
                table
                    thead
                        tr
                            th ISR
                            th IMSS
                            th Total
                    tbody
                        tr
                            td #{ISR}
                            td #{IMSS}
                            td #{total}
        script(src="/jquery/dist/jquery.min.js")
        script(src="/Materialize/dist/js/materialize.min.js")
